ProveraRadnikaKlijent/Connected Services/ServiceReference1/Provera.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Provera" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8744/Design_Time_Addresses/ProveraRadnikaJun19/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8744/Design_Time_Addresses/ProveraRadnikaJun19/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8744/Design_Time_Addresses/ProveraRadnikaJun19/Service1/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProvera_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IProvera_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IProvera_logout_InputMessage">
    <wsdl:part name="parameters" element="tns:logout" />
  </wsdl:message>
  <wsdl:message name="IProvera_logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:logoutResponse" />
  </wsdl:message>
  <wsdl:message name="IProvera_listaPrisustva_InputMessage">
    <wsdl:part name="parameters" element="tns:listaPrisustva" />
  </wsdl:message>
  <wsdl:message name="IProvera_listaPrisustva_OutputMessage">
    <wsdl:part name="parameters" element="tns:listaPrisustvaResponse" />
  </wsdl:message>
  <wsdl:portType name="IProvera">
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IProvera/login" message="tns:IProvera_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProvera/loginResponse" message="tns:IProvera_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IProvera/logout" message="tns:IProvera_logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProvera/logoutResponse" message="tns:IProvera_logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listaPrisustva">
      <wsdl:input wsaw:Action="http://tempuri.org/IProvera/listaPrisustva" message="tns:IProvera_listaPrisustva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProvera/listaPrisustvaResponse" message="tns:IProvera_listaPrisustva_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProvera" type="tns:IProvera">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IProvera/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <soap:operation soapAction="http://tempuri.org/IProvera/logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaPrisustva">
      <soap:operation soapAction="http://tempuri.org/IProvera/listaPrisustva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Provera">
    <wsdl:port name="BasicHttpBinding_IProvera" binding="tns:BasicHttpBinding_IProvera">
      <soap:address location="http://localhost:8744/Design_Time_Addresses/ProveraRadnikaJun19/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>